
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
  font-family: 'Lato', sans-serif;
}

.container{
  border-left: 1px solid #413C58;
  border-right: 1px solid #413C58;
}

h2{
  color: #413C58;
}

h3{
  color: #413C58;
  border-bottom: 2px solid #999441;
  padding-bottom: 25px;
  margin-bottom: 15px;
  margin-top: 25px;

}

.textarea{
  margin-bottom: 10px;
  min-height: 60px;
}

.message-box{
  background-color: #C0BCB5;
  padding-bottom: 0px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.welcome{
  text-align: center;
  font-size: 60px;
  color: white;
  background-color: #413C58;
  border-bottom: 2px solid #999441;
  padding-top: 15px;
  padding-bottom: 15px;

}

li{
  font-size: 20px;
  border: 1px solid #999441;
}

.logged-in-as{
  color: #F59A9C;
}

.post-time{
  font-size: 15px;
  color: #F59A9C;
  float: right;
  vertical-align: middle;
}

.post-user{
  color: #999441;
}

.btn{
  background-color: #C97F80;
  border-color: #E1B9B9;
}

ul{
  height: 470px;
  overflow: scroll;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.join-chat{
  padding-bottom: 10px;
}

.login-input{
  margin-bottom: 20px;
}

.login-prompt{
  margin-bottom: 0px;
}
